.signupbox{
    padding:30px;
    border:1px solid rgba(134, 134, 134, 0.281);
    border-radius:10px;
    background-color:white;
}

.signup{
    background-color:#f3f2f1;
    width:100%;
    height: 100%;
    margin-top:-27px;
}