.App{
  margin-top:20px;
}

.salfdiv{
  background: 
  #e8f3fc;
 padding-left:40px
}
.salmdiv{
  display:flex;
}
.salfdiv>h1{
  text-align: left;

  line-height:35px;
font-size:28px;
letter-spacing:-0.12px;
margin:30px 0px 4px;
padding:0px 0px;
font-weight:700;
text-decoration:
none solid rgb(45, 45, 45);
font-family :
"Noto Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif
}
.salfdiv>span{
  font-size:16px;
line-height:21px;
margin:0px 0px 16px;
font-weight:400;
}
input{
  font-size:16px;
line-height:24px;
padding:9px 12px;
border-radius: 10px;
outline:1px solid gray


}
input:focus {
  
  border-bottom:3px solid blue;
}
.salbut{
  background-color:
  #2557a7;
  color:white;
  font-size: 20px;
  padding:8px;
  width:150px;
  font-weight:500;
  margin-top:22px;
  border-radius: 10px;
}
.salbut:hover{
  background-color:
  #2a69ce;
}
.saldisdiv{
  display:flex;
  gap:20px;
  margin-top:40px;
  background-color: white;
 padding:30px ;
 border-radius:10px;
 border:10px solid 
 #9bb1f0;
 border-right: none;
 border-left:none;
 border-bottom: none;
}
.salinddiv{
   margin-top:30px;

   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap:15px;
}
.salinddiv>div{
  padding:15px;
  cursor:pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.salinddiv>div>h2{
  text-decoration: underline;
}
.salinddiv>div>h2:hover{
  text-decoration:none
}
.salinddiv>div>div{
  text-decoration:underline
}
.salinddiv>div>div:hover{
  text-decoration:none
}